.wb-bala {
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: 400% 100%;
  background-position: 0 0;
  animation: wbBalaFrames 2s step-end infinite;
}

.wb-bala.baby.normal { background-image: url('./baby/normal.png'); }
.wb-bala.baby.happy { background-image: url('./baby/happy.png'); }
.wb-bala.baby.eat { background-image: url('./baby/eat.png'); }
.wb-bala.baby.sleep { background-image: url('./baby/sleep.png'); }
.wb-bala.baby.sad { background-image: url('./baby/sad.png'); }
.wb-bala.adult.normal { background-image: url('./adult/normal.png'); }
.wb-bala.adult.happy { background-image: url('./adult/happy.png'); }
.wb-bala.adult.eat { background-image: url('./adult/eat.png'); }
.wb-bala.adult.sleep { background-image: url('./adult/sleep.png'); }
.wb-bala.adult.sad { background-image: url('./adult/sad.png'); }
.wb-bala.magic.normal { background-image: url('./magic/normal.png'); }
.wb-bala.magic.happy { background-image: url('./magic/happy.png'); }
.wb-bala.magic.eat { background-image: url('./magic/eat.png'); }
.wb-bala.magic.sleep { background-image: url('./magic/sleep.png'); }
.wb-bala.magic.sad { background-image: url('./magic/sad.png'); }

@keyframes wbBalaFrames {
  0%, 24.999% { background-position: 0 0; }
  25%, 49.999% { background-position: 33.333% 0; }
  50%, 74.999% { background-position: 66.666% 0; }
  75%, 100% { background-position: 100% 0; }
}
